export(build.mismatch.dictionary)
export(build.mismatch.kernel)
export(build.pw.denegerate.dictionary)
export(determine.kmers)
export(dinuc.alphabet)
export(kmer.score.in.position)
import(BiocGenerics)
import(Biostrings)
import(methods)
useDynLib(ChIPKernels)
